body { 
	background-attachment: scroll; 
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	color: #5f5f5f;
} 
h2 {
	font-size: 20px;
}
li {
	list-style-type: none;
	text-align: left;
}

p {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

frame[name="images"] {
	padding-left: 20px;
}
