body {
	width: 100%;
	font-family: 'Poiret One', sans-serif;
	margin: 0;
	padding: 0;
}
#content {
	width: 800px;
	text-align: center;
	margin: 0 auto;
}
#content p {
	text-align: justify;
}

#content_main {
	width: 1000px;
	text-align: justify;
	margin: 0 auto;
}
li {
    list-style-type: none; 
   }
ul {
    margin-left: 0; 
    padding-left: 0;
   }

#main_right {
	width: 500px;
	display: inline-block;
	vertical-align:top;
	background: url('img/bg2.png') no-repeat top;
}
#main_img {
	display: inline-block;
	background: url('img/bg1.png') no-repeat left 25% center fixed;
	width: 400px;
	height: 4000px;
	vertical-align:top;
}
#recepies {
	margin-top: 100px;
}
h3 {
	font-size: 1,3em;
	margin:0 0 0 30px;
	padding: 0;
}
h2 {
	color: #74bb42;
}
a {
	text-decoration: none;
	color:#182d3e;
	margin: 0;
	padding: 0;
}
a:hover {
	color: #ff3633;
}