body {
	width: 100%;
	font-family: 'Poiret One', sans-serif;
	margin: 0;
	padding: 0;
}
#content {
	max-width: 800px;
	width: 100%;
	padding: 0 16px;
	text-align: center;
	margin: 0 auto;
	box-sizing: border-box;
}
#content p {
	text-align: justify;
}

#content_main {
	max-width: 1000px;
	width: 100%;
	padding: 0 16px;
	text-align: justify;
	margin: 0 auto;
	box-sizing: border-box;
}
li {
    list-style-type: none; 
   }
ul {
    margin-left: 0; 
    padding-left: 0;
   }

#main_right {
	width: 500px;
	display: inline-block;
	vertical-align:top;
	background: url('img/bg2.png') no-repeat top;
}
#main_img {
	display: inline-block;
	background: url('img/bg1.png') no-repeat left 25% center fixed;
	width: 400px;
	height: 4000px;
	vertical-align:top;
}
#recepies {
	margin-top: 50px;
}
h3 {
	font-size: 1.3em;
	margin:0 0 0 30px;
	padding: 0;
}
h2 {
	color: #74bb42;
}
a {
	text-decoration: none;
	color:#182d3e;
	margin: 0;
	padding: 0;
}
a:hover {
	color: #ff3633;
}

.item_list li{
	list-style-type: circle;
	text-align: left;
	margin-left: 50px;
}

@media (max-width: 768px) {

  #main_img,
  #main_right {
    width: 100%;
    display: block;
    background: none;
  }

  #main_img {
    height: auto;
  }

}